  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Type of Diets">
        <app-diet-types></app-diet-types>
    </mat-tab>
    <mat-tab label="Know Your BMI">
        <app-bmi></app-bmi>
    </mat-tab>
    
    <mat-tab label="Find Recipes">
        <app-find-recipes></app-find-recipes>
    </mat-tab>
    <mat-tab label="Check Nutrition by Name">
        <app-nutrition-by-name></app-nutrition-by-name>
    </mat-tab>
    <mat-tab label="Nearby Restaurants">
        <app-nearby-restaurants></app-nearby-restaurants>
    </mat-tab> 
    <mat-tab label="My Favorites">
        <app-check-calories></app-check-calories>
    </mat-tab>
  </mat-tab-group>