<!-- <mat-card class="col-5 m-auto">
  <div>
      <form [formGroup]="calorieForm" (ngSubmit)="onAnalyze()" class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Enter the Ingredients</mat-label>
            <textarea matInput formControlName="name" placeholder="Ex.Enter the text here..."></textarea>
          </mat-form-field>
          <div class="row p-3">
              <div class="m-auto">
                <button mat-raised-button color="primary">Analyze</button>
              </div>
            </div>
        </form>
  </div>
</mat-card> -->

<!-- <div>
    <form [formGroup]="bmiForm" (ngSubmit)="calculate()">
        <div class="row p-3">
            <div class="m-auto">
                <span>Height</span>
                <mat-form-field appearance="fill" class="p-2">
                    <mat-label>Select</mat-label>
                    <mat-select formControlName="heightUnits">
                      <mat-option value="inches">Inches</mat-option>
                      <mat-option value="cms">Cms</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Input</mat-label>
                    <input matInput formControlName="height">
                  </mat-form-field>
            </div>
        </div>
        <div class="row p-3">
            <div class="m-auto">
                <span>Weight</span>
                <mat-form-field appearance="fill" class="p-2">
                    <mat-label>Select</mat-label>
                    <mat-select formControlName="weightUnits">
                      <mat-option value="kgs">Kgs</mat-option>
                      <mat-option value="lbs">Lbs</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Input</mat-label>
                    <input matInput formControlName="weight">
                  </mat-form-field>
            </div>
        </div>
        <div class="row p-3">
            <div class="m-auto">
                <button mat-raised-button color="primary">Calculate</button>
            </div>
        </div>
    </form>
</div> -->

<div>
  <h3>Favorites Recipes</h3>
</div>
<div *ngIf="favList; else noRecipies" class="row">
  <div *ngFor="let item of favList" class="card col-3 card-margin">
      <!-- <img class="card-img-top" src="{{item.image}}" alt="Recipe Image"> -->
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <img class="card-img-top" src="{{item.image}}" alt="Recipe Image">
      <div class="card-text">
        <div *ngIf="item.calories"><p>Calories:{{item.calories}}</p></div>
        <div *ngIf="item.protein"><p>Protein:{{item.protein}}</p></div>
        <div *ngIf="item.fat"><p>Fat:{{item.fat}}</p></div>
        <div *ngIf="item.carbs"><p>Carbs:{{item.carbs}}</p></div>
      </div>
      <a class="btn btn-primary" (click)="getRecipeDetails(item.id)">Get Recipe</a>
    </div>
  </div>
</div>
<ng-template class="row" #noRecipies>
    No Recipes found for selected criteria. Please try with different search.
</ng-template>