<mat-card class="col-5 m-auto">
    <div>
        <form [formGroup]="nutritionForm" (ngSubmit)="onFind()" class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Get Nutition by Name</mat-label>
              <textarea matInput formControlName="name" placeholder="Ex.Enter the text here..."></textarea>
            </mat-form-field>
            <div class="row p-3">
                <div class="m-auto">
                  <button mat-raised-button color="primary">Find</button>
                </div>
              </div>
          </form>
          
      <!-- <form [formGroup]="bmiForm" (ngSubmit)="calculate()">
        <div class="row p-3">
          <div class="m-auto">
            <span>Height</span>
            <mat-form-field appearance="fill" class="p-2">
              <mat-label>Select</mat-label>
              <mat-select formControlName="heightUnits">
                <mat-option value="inches">Inches</mat-option>
                <mat-option value="cms">Cms</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Input</mat-label>
              <input matInput formControlName="height" />
            </mat-form-field>
          </div>
        </div>
        <div class="row p-3">
          <div class="m-auto">
            <button mat-raised-button color="primary">Find</button>
          </div>
        </div>
      </form> -->
    </div>
  </mat-card>
  