<mat-card class="col-5 m-auto">
    <div>
        <form [formGroup]="nutritionForm" (ngSubmit)="onFind()" class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Get Nutition by Name</mat-label>
              <textarea matInput formControlName="name" placeholder="Ex.Enter the text here..."></textarea>
            </mat-form-field>
            <div class="row p-3">
                <div class="m-auto">
                  <button mat-raised-button color="primary">Find</button>
                </div>
              </div>
          </form>
    </div>
  </mat-card>

  <mat-card *ngIf="nutrition" class="col-5 m-auto result-card">
    <div class="row m-auto"><br>
      <h5>{{nutritionForm.value.name}} Nutrition Analysis</h5>
      <div class="col-12">It contains <b> Calories </b> from <b> {{nutrition.calories.confidenceRange95Percent.min}} </b> to <b> {{nutrition.calories.confidenceRange95Percent.max}} </b>.</div>
      <div class="col-12">It contains <b> Carbs </b> from <b> {{nutrition.carbs.confidenceRange95Percent.min}} g </b> to <b> {{nutrition.carbs.confidenceRange95Percent.max}}g </b>.</div>
      <div class="col-12">It contains <b> Fat </b> from <b> {{nutrition.fat.confidenceRange95Percent.min}} g</b> to <b> {{nutrition.fat.confidenceRange95Percent.max}}g </b>.</div>
      <div class="col-12">It contains <b> Protein </b> from <b> {{nutrition.protein.confidenceRange95Percent.min}}g </b> to <b> {{nutrition.protein.confidenceRange95Percent.max}}g </b>.</div>
    </div>
  </mat-card>
  