<!-- <h1>{{title}} App works!</h1> -->
<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <!-- <mat-icon>menu</mat-icon> -->
      <mat-icon>home</mat-icon>
    </button>
    <span>{{title}}</span>
    <!-- <span class="example-spacer"></span> -->
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
    <span class="right-icon"></span>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      Logout
    </button> -->
    <span class="userName" *ngIf="user">Hi, {{user.fullname}} !</span>
    <button mat-raised-button color="warn" *ngIf="user" (click)="logOut()">Logout</button>
  </mat-toolbar>
</div>
<div>
  <router-outlet></router-outlet>
</div>