<mat-accordion>
  <mat-expansion-panel
    class="container m-auto ex-panel"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Find By Nutrients </mat-panel-title>
      <mat-panel-description>
        <!-- Currently I am {{ panelOpenState ? "open" : "closed" }} -->
        <span *ngIf="panelOpenState">Enter all values in grams</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <form
        [formGroup]="findByNutrientsForm"
        (ngSubmit)="findRecipeByNutrients()"
      >
        <h5>Find By Nutrients</h5>
        <div class="row">
          <div class="col-2">
            <mat-checkbox class="example-margin">Carbs</mat-checkbox>
          </div>
          <div class="col-4">
            <!-- <span>Low</span> -->
            <mat-form-field appearance="fill">
              <mat-label>Low</mat-label>
              <input matInput formControlName="lowCarbs" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <!-- <span>High</span> -->
            <mat-form-field appearance="fill">
              <mat-label>High</mat-label>
              <input matInput formControlName="highCarbs" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <!-- <mat-checkbox class="example-margin">Protein</mat-checkbox> -->
          <div class="col-2">
            <mat-checkbox class="example-margin">Protein</mat-checkbox>
          </div>
          <div class="col-4">
            <!-- <span>Low</span> -->
            <mat-form-field appearance="fill">
              <mat-label>Low</mat-label>
              <input matInput formControlName="lowProtein" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <!-- <span>High</span> -->
            <mat-form-field appearance="fill">
              <mat-label>High</mat-label>
              <input matInput formControlName="highProtein" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <!-- <mat-checkbox class="example-margin">Fat</mat-checkbox> -->
          <div class="col-2">
            <mat-checkbox class="example-margin">Fat</mat-checkbox>
          </div>
          <div class="col-4">
            <!-- <span>Low</span> -->
            <mat-form-field appearance="fill">
              <mat-label>Low</mat-label>
              <input matInput formControlName="lowFat" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <!-- <span>High</span> -->
            <mat-form-field appearance="fill">
              <mat-label>High</mat-label>
              <input matInput formControlName="highFat" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <!-- <mat-checkbox class="example-margin">Calories</mat-checkbox> -->
          <div class="col-2">
            <mat-checkbox class="example-margin">Calories</mat-checkbox>
          </div>
          <div class="col-4">
            <!-- <span>Low</span> -->
            <mat-form-field appearance="fill">
              <mat-label>Low</mat-label>
              <input matInput formControlName="lowCal" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <!-- <span>High</span> -->
            <mat-form-field appearance="fill">
              <mat-label>High</mat-label>
              <input matInput formControlName="highCal" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <!-- <mat-checkbox class="example-margin">Fiber</mat-checkbox> -->
          <div class="col-2">
            <mat-checkbox class="example-margin">Fiber</mat-checkbox>
          </div>
          <div class="col-4">
            <!-- <span>Low</span> -->
            <mat-form-field appearance="fill">
              <mat-label>Low</mat-label>
              <input matInput formControlName="lowFiber" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <!-- <span>High</span> -->
            <mat-form-field appearance="fill">
              <mat-label>High</mat-label>
              <input matInput formControlName="highFiber" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <!-- <mat-checkbox class="example-margin">Iron</mat-checkbox> -->
          <div class="col-2">
            <mat-checkbox class="example-margin">Iron</mat-checkbox>
          </div>
          <div class="col-4">
            <!-- <span>Low</span> -->
            <mat-form-field appearance="fill">
              <mat-label>Low</mat-label>
              <input matInput formControlName="lowIron" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <!-- <span>High</span> -->
            <mat-form-field appearance="fill">
              <mat-label>High</mat-label>
              <input matInput formControlName="highIron" />
            </mat-form-field>
          </div>
        </div>
        <div class="col m-auto">
          <button mat-raised-button color="primary">Calculate</button>
        </div>
      </form>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel
  class="container m-auto ex-panel"
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Find By Nutrients </mat-panel-title>
    <mat-panel-description>
      <!-- Currently I am {{ panelOpenState ? "open" : "closed" }} -->
      <span *ngIf="panelOpenState">Enter all values in grams</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div>
    <form
      [formGroup]="findByNutrientsForm"
      (ngSubmit)="findRecipeByNutrients()"
    >
      <h5>Find By Nutrients</h5>
      <div class="row">
        <div class="col-2">
          <mat-checkbox class="example-margin">Carbs</mat-checkbox>
        </div>
        <div class="col-4">
          <!-- <span>Low</span> -->
          <mat-form-field appearance="fill">
            <mat-label>Low</mat-label>
            <input matInput formControlName="lowCarbs" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <!-- <span>High</span> -->
          <mat-form-field appearance="fill">
            <mat-label>High</mat-label>
            <input matInput formControlName="highCarbs" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <mat-checkbox class="example-margin">Protein</mat-checkbox> -->
        <div class="col-2">
          <mat-checkbox class="example-margin">Protein</mat-checkbox>
        </div>
        <div class="col-4">
          <!-- <span>Low</span> -->
          <mat-form-field appearance="fill">
            <mat-label>Low</mat-label>
            <input matInput formControlName="lowProtein" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <!-- <span>High</span> -->
          <mat-form-field appearance="fill">
            <mat-label>High</mat-label>
            <input matInput formControlName="highProtein" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <mat-checkbox class="example-margin">Fat</mat-checkbox> -->
        <div class="col-2">
          <mat-checkbox class="example-margin">Fat</mat-checkbox>
        </div>
        <div class="col-4">
          <!-- <span>Low</span> -->
          <mat-form-field appearance="fill">
            <mat-label>Low</mat-label>
            <input matInput formControlName="lowFat" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <!-- <span>High</span> -->
          <mat-form-field appearance="fill">
            <mat-label>High</mat-label>
            <input matInput formControlName="highFat" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <mat-checkbox class="example-margin">Calories</mat-checkbox> -->
        <div class="col-2">
          <mat-checkbox class="example-margin">Calories</mat-checkbox>
        </div>
        <div class="col-4">
          <!-- <span>Low</span> -->
          <mat-form-field appearance="fill">
            <mat-label>Low</mat-label>
            <input matInput formControlName="lowCal" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <!-- <span>High</span> -->
          <mat-form-field appearance="fill">
            <mat-label>High</mat-label>
            <input matInput formControlName="highCal" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <mat-checkbox class="example-margin">Fiber</mat-checkbox> -->
        <div class="col-2">
          <mat-checkbox class="example-margin">Fiber</mat-checkbox>
        </div>
        <div class="col-4">
          <!-- <span>Low</span> -->
          <mat-form-field appearance="fill">
            <mat-label>Low</mat-label>
            <input matInput formControlName="lowFiber" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <!-- <span>High</span> -->
          <mat-form-field appearance="fill">
            <mat-label>High</mat-label>
            <input matInput formControlName="highFiber" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <mat-checkbox class="example-margin">Iron</mat-checkbox> -->
        <div class="col-2">
          <mat-checkbox class="example-margin">Iron</mat-checkbox>
        </div>
        <div class="col-4">
          <!-- <span>Low</span> -->
          <mat-form-field appearance="fill">
            <mat-label>Low</mat-label>
            <input matInput formControlName="lowIron" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <!-- <span>High</span> -->
          <mat-form-field appearance="fill">
            <mat-label>High</mat-label>
            <input matInput formControlName="highIron" />
          </mat-form-field>
        </div>
      </div>
      <div class="col m-auto">
        <button mat-raised-button color="primary">Calculate</button>
      </div>
    </form>
  </div>
</mat-expansion-panel>
</mat-accordion>
