/* .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  } */
  
  .example-margin {
    margin: 0 10px;
    margin-top: 10%;
  }

  .ex-panel {
      margin-top: 3% !important;
  }

  .example-full-width {
    width: 100%;
  }