<mat-accordion>
  <mat-expansion-panel
    class="container m-auto ex-panel"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Recipes By Nutrients </mat-panel-title>
      <mat-panel-description>
        <!-- Currently I am {{ panelOpenState ? "open" : "closed" }} -->
        <span *ngIf="panelOpenState">Enter all values in grams</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <form
        [formGroup]="findByNutrientsForm"
        (ngSubmit)="findRecipeByNutrients()"
      >
        <h5>Find By Nutrients</h5>
        <div class="row">
          <div class="col-2">
            <mat-checkbox class="example-margin">Carbs</mat-checkbox>
          </div>
          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>min</mat-label>
              <input matInput formControlName="minCarbs" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>max</mat-label>
              <input matInput formControlName="maxCarbs" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <mat-checkbox class="example-margin">Protein</mat-checkbox>
          </div>
          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>min</mat-label>
              <input matInput formControlName="minProtein" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>max</mat-label>
              <input matInput formControlName="maxProtein" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <mat-checkbox class="example-margin">Fat</mat-checkbox>
          </div>
          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>min</mat-label>
              <input matInput formControlName="minFat" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>max</mat-label>
              <input matInput formControlName="maxFat" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <mat-checkbox class="example-margin">Calories</mat-checkbox>
          </div>
          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>min</mat-label>
              <input matInput formControlName="minCalories" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>max</mat-label>
              <input matInput formControlName="maxCalories" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <mat-checkbox class="example-margin">Fiber</mat-checkbox>
          </div>
          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>min</mat-label>
              <input matInput formControlName="minFiber" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>max</mat-label>
              <input matInput formControlName="maxFiber" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <mat-checkbox class="example-margin">Iron</mat-checkbox>
          </div>
          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>min</mat-label>
              <input matInput formControlName="minIron" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>max</mat-label>
              <input matInput formControlName="maxIron" />
            </mat-form-field>
          </div>
        </div>
        <div class="col m-auto">
          <button mat-raised-button color="primary">Calculate</button>
        </div>
      </form>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel
    class="container m-auto ex-panel"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Recipes By Ingredients </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field class="example-full-width">
      <mat-label>Ingredients</mat-label>
      <textarea matInput placeholder="Enter Ingredients with comma seperate values" #ingredients></textarea>
    </mat-form-field>
    <div class="col m-auto">
      <button mat-raised-button color="primary" (click)="findRecipeByIngredients(ingredients.value)">Find</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel
  class="container m-auto ex-panel"
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Recipes by Cuisine </mat-panel-title>
    <mat-panel-description>
      
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field class="example-full-width">
    <mat-label>Specifications</mat-label>
    <textarea matInput placeholder="Specifications like chicken with less oil" #specifics></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Cusine</mat-label>
    <input matInput placeholder="Enter Cusine. Eg. Indian" #cusine>
  </mat-form-field>
  <div class="col m-auto">
    <button mat-raised-button color="primary" (click)="findRecipeByCusine(specifics.value,cusine.value)">Find</button>
  </div>
</mat-expansion-panel>
</mat-accordion>