.example-card {
    /* max-width: 25%; */
    margin:10%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .mat-card-content {
    height: 29vh;
    overflow: auto;
  }

  .mat-card:not([class*=mat-elevation-z]) {
    height: 76vh;
}

.mat-card-image {
  height: 26vh;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}